# debug
CONFIG_PROVE_LOCKING=n
# We need the debug facility to switch between the roles
CONFIG_USB_CHIPIDEA_DEBUG=y

# network
CONFIG_NET_VENDOR_INTEL=y
CONFIG_E1000E=y
CONFIG_IGB=y
CONFIG_IGB_HWMON=y
CONFIG_USB_USBNET=y
CONFIG_USB_NET_AX8817X=y
CONFIG_USB_NET_AX88179_178A=y

# hardware
# rtc clock
CONFIG_RTC_DRV_M41T80=y
CONFIG_RTC_DRV_M41T80_WDT=n
# cpu thermal support
CONFIG_THERMAL=y
CONFIG_CPU_THERMAL=y
CONFIG_IMX_THERMAL=y
# graphics adapter
CONFIG_DRM_VIVANTE=y
CONFIG_MXC_GPU_VIV=y
# CONFIG_DRM_ETNAVIV is not set
# CONFIG_VMSPLIT_3G is not set
CONFIG_VMSPLIT_3G_OPT=y
# CONFIG_HIGHPTE is not set
# CONFIG_CPU_SW_DOMAIN_PAN is not set
# multitouch
CONFIG_HID_MULTITOUCH=y
# for systemd
CONFIG_NAMESPACES=y
CONFIG_NET_NS=y
CONFIG_NFSD=y
# video
CONFIG_VIDEO_CODA=y
CONFIG_VIDEO_IMX_IPU_SCALER=y
CONFIG_MEDIA_IMX_IPU=y
CONFIG_VIDEO_IMX_IPU_OVL=y
CONFIG_VIDEO_IMX_IPU_VOUT=y
CONFIG_FW_LOADER_USER_HELPER_FALLBACK=y
# support more logic partitons
CONFIG_MMC_BLOCK_MINORS=16
# ntfs support
CONFIG_NTFS_FS=y
CONFIG_NTFS_DEBUG=y
CONFIG_NTFS_RW=y
# disable stmpe
# CONFIG_TOUCHSCREEN_STMPE is not set
# CONFIG_GPIO_STMPE is not set
# CONFIG_MFD_STMPE is not set
# CONFIG_STMPE_I2C is not set
# CONFIG_HID_THRUSTMASTER is not set
# CONFIG_STMP_DEVICE is not set
# overlay fs
CONFIG_OVERLAY_FS=y
# ACL
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_TMPFS_XATTR=y
# watchdog
CONFIG_GPIO_WATCHDOG=y
# ethernet
CONFIG_DP83867_PHY=y
# hdmi
CONFIG_I2C_IMX_HDMI=y
# hdmi audio is disabled by default. If a cuatomer needs, 
# CONFIG_DRM_DW_HDMI_AHB_AUDIO should be set to y.
# wifi
# wifi is disabled by default, if needed, enable the following configs
# CONFIG_CFG80211=y
# CONFIG_CFG80211_WEXT=y
# CONFIG_MAC80211=y
# addidtionally enable the driver for the inserted module
# e. g. for Intel Wireless WiFi (iwlwifi)
# CONFIG_IWLWIFI=y
# CONFIG_IWLWIFI_LEDS=y
# CONFIG_IWLDVM=y
# CONFIG_IWLMVM=y
# bluetooth
# bluetooth is disabled by default, if needed, enable the following configs
# CONFIG_BT_HCIBTUSB=y
# CONFIG_BT_HCIUART=y
# for Bluetooth on Intel Wireless WiFi (iwlwifi)
# CONFIG_BT_HCIUART_INTEL=y
# support for OCOTP
CONFIG_FSL_OTP=y
CONFIG_NVMEM=y
CONFIG_NVMEM_IMX_OCOTP=y

# zconfig
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
